body {
    background-color: #ebb8dd;
}
h {
    font-family: sans-serif;
}
a {
    font-family: sans-serif;
}
text-box {
    width: 320px;
    height: 50px;
    padding: 10px;
    border: 5px solid purple;
    margin: 0;
    display: inline-block;
}