body {
    background-color: #ebb8dd;
}
p {
    font-family: sans-serif;
}
a {
    font-family: sans-serif;
}
.text-box {
    width: 320px;
    height: 70px;
    padding: 10px;
    border: 5px solid purple;
    background-color: white;
    border-radius: 10px;
    margin: 0;
    display: inline-block;
}
