body {
    background-color: #ebb8dd;
}
p {
    font-family: sans-serif;
}
a {
    font-family: sans-serif;
}
.text-box {
    width: 320px;
    height: 70px;
    padding: 10px;
    border: 5px solid purple;
    background-color: white;
    border-radius: 25px;
    margin: 0;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.text-box:hover {
    background-color: lightgray;
}



.text-box2 {
    width: 320px;
    height: 95px;
    padding: 10px;
    border: 5px solid purple;
    background-color: white;
    border-radius: 25px;
    margin: 0;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.text-box2:hover {
    background-color: lightgray;
}